streamlit>=1.33,<2
pandas>=2.1,<3
numpy>=1.26,<2.1
scikit-learn>=1.3,<1.6
scipy>=1.10,<1.14
plotly>=5.20,<7
statsmodels>=0.14,<0.15
patsy>=0.5


# --- Optional extras (if you want to test the notebook) ---
# xgboost>=2.0,<3
# shap>=0.45,<0.49
# pyarrow>=14,<17